<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.css'>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<div th:include="fragments/header.html :: header"></div>

    <div class="container-fluid bg-white h-100">
    <div class="row h-100">
        <div class="col-sm-2 h-100 d-inline-block p-0">

            <div th:include="fragments/menu.html :: menu"></div>

        </div>
        <div class="col-sm-10 bg-light h-100">
            <div class="p-3">

                <h1>Admin panel</h1>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/new" >New user</a>
                    </li>
                </ul>

                <table class="table table-light border">
                    <tr>
                        <td class="border border-bottom"><b class="fs-5">All users</b></td>
                    </tr>
                    <tr>
                        <td class="bg-white">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>User name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user:${users}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getMail()}"></td>
                                        <td th:text="${#strings.listJoin(user.getRoles(), ', ')}"></td>
                                        <td>
                                            <input class="btn btn-info" th:data-bs-id="${user.getId()}"
                                                   data-bs-toggle="modal" data-bs-target="#editModal"
                                                   type="button" value="Edit">
                                        </td>
                                        <td>
                                            <input class="btn btn-danger" th:data-bs-id="${user.getId()+'/delete'}"
                                                   th:data-bs-delete="true"
                                                   data-bs-toggle="modal" data-bs-target="#editModal"
                                                   type="submit" value="Delete">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" style="height: 550px;">
                <iframe id="myIframe" src="" width="100%" height="100%" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/modal.js"></script>

</body>
</html>