<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container" style="max-width: 350px;">
    <div class="row justify-content-center align-items-center">
        <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
            <br>
            <div class="form-group">
                <label for="name">First name: </label>
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="John"/>
            </div>

            <div class="form-group">
                <label for="lastName">Last name: </label>
                <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Smith"/>
            </div>

            <div class="form-group">
                <label for="email">e-mail: </label>
                <input type="email" class="form-control" th:field="*{email}" id="email" aria-describedby="emailHelp"
                       placeholder="user@gmail.com"/>
            </div>

            <div class="form-group">
                <label for="password">Password: </label>
                <input type="text" class="form-control" th:field="*{password}" id="password"/>
            </div>

            <div class="form-group">
            <label for="roles">Сhoose roles: </label>
            <select name="rolesList" id="roles" size="2" multiple>
                <option th:value="ROLE_ADMIN" th:text="ADMIN"></option>
                <option th:value="ROLE_USER" th:text="USER"></option>
            </select>
            </div>

            <div class="col text-center">
                <input type="submit" class="btn btn-primary" value="Add"/>
            </div>

            <div class="col text-center">
                <a class="btn btn-group-lg" href="/admin">Cancel</a>
            </div>

            <div class="col text-center">
                <a class="btn btn-group-lg" th:href="@{/logout}">Logout</a>
            </div>

        </form>
    </div>
</div>

</body>
</html>