<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            padding: 5px;
        }
    </style>
</head>
<body>
<div th:include="fragments/header.html :: header"></div>
<div><a href="/admin">Назад</a></div>
<h4>Страница пользователя</h4>
<form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color: darkred;font-size: 80%" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <div>
        <label for="age">Возраст:</label>
        <input type="text" th:field="*{age}" id="age">
        <div style="color: darkred;font-size: 80%" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>

    <div>
        <label for="mail">E-mail:</label>
        <input type="text" th:field="*{mail}" id="mail">
        <div style="color: darkred;font-size: 80%" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></div>
    </div>

    <div>
        <label for="password">Пароль:</label>
        <input type="password" th:field="*{password}" id="password">
        <div style="color: darkred;font-size: 80%" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div><input type="submit" value="Изменить"></div>
</form>
<hr/>
<form th:method="delete" th:action="@{admin/{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <input type="submit" th:value="'Удалить ' + ${user.getName()}">
    </div>
</form>
</body>
</html>