<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="users">
<table class="table table-light border">
    <tr>
        <td class="border border-bottom"><b class="fs-5">All users</b></td>
    </tr>
    <tr>
        <td class="bg-white">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>User name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody th:id="userList">

                </tbody>
            </table>

        </td>
    </tr>
</table>
</div>


</html>